/* 
    Created on : Sep 27, 2015, 1:15:32 PM
    Author     : Nikolay Krasnikov
*/

h1.report-header    {font-family: monospace; font-size: 16pt; float: left; color: #333333; font-weight: normal; margin: 0 0 10px 0; display: inline-block; width: auto;}
h1.report-header .full-width   {width: 100%; display: block;}
h1.report-subheader {font-family: monospace; font-size: 14pt; float: left; color: #333333; font-weight: normal; margin: 10px 0 10px 0; display: inline-block; width: auto;}
div.datetime        {font-family: monospace; font-size: 9px; color: #000; float: right; margin-top: -1; overflow: hidden; display: inline-block; width: auto;}

div.left-panel  {width: 47%; float: left; overflow: hidden; margin: 5px;}
div.right-panel {width: 50%; float: right; overflow: hidden; margin: 5px;}

table.report-content                        {width: 100%; color: #000;}
table.report-content td                     {font-family: monospace; font-size: 10px; text-align: left; vertical-align: middle; padding: 0 4px 0 4px; border: 1px solid #333;}
table.report-content td.centered            {text-align: center;}
table.report-content td.righted             {text-align: right;}
table.report-content td.no-border           {border: none;}
table.report-content td.left-align-wrapped  {text-align: left; vertical-align: top; white-space: pre-wrap;}
table.report-content td.header              {font-weight: bold;}
table.report-content td.double-line         {border: none; border-bottom: 3px double #333;}
table.report-content td.dotted-line         {border: none; border-bottom: 1px dotted #333;}
table.report-content td.shaded              {background-color: #efefef;}
